@import "themes/cloud-dive/less/main.less";

.HomePage {

  // banner
  .banner {
    background: @light_blue;
    color: white;

    img {
      width: 100%;
      margin-top: 40px;
    }

    &_left {
      padding: 100px;

      a {
        color: white;
        font-weight: bold;
      }

      button {
        padding: 10px 50px;
        border: 2px solid #E74C3C;
        background: transparent;
        margin: 15px 0px;
      }
    }

  }

  // general content
  .content {
    padding: 30px;
  }

  // services
  .service_holder {
    background: @heavy_white;
    padding: 35px;
    text-align: center;
    border: 1px solid lightgray;
    min-height: 250px;
    height: auto;
    color: #333;

    h2 {
      color: #555;
    }

    .service_holder_overlay {
      background: #2C3E50;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      color: white;
      padding: 25px;
      display: none;
    }
  }

  // contact
  .contact {
    background: @dark_blue;
    color: white;
    padding: 25px;

    h2,
    h3 {
      margin-top: 0px;
    }

    label {
      margin: 15px 0px;
    }

    input,
    textarea {
      color: black;
      border-radius: 5px;
      width: 80%;
      padding: 10px;
      border: 0px;
    }

    input.action {
      margin-top: 20px;
    }
  }

}
