@import "themes/cloud-dive/less/main.less";

.HomePage {

  // banner
  .banner {
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    -webkit-box-shadow: 0px 6px 17px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 6px 17px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 6px 17px 0px rgba(50, 50, 50, 0.75);

    &_left {
      padding: 100px;

      a {
        color: white;
        font-weight: bold;
      }

    }

    &_right {
      overflow: hidden;
      height: 400px;
      padding: 0px;
      margin: 40px 0px;
      position: relative;

      img.mobile {
        width: 20%;
        position: absolute;
        z-index: 1;
        top: 135px;
      }
      img.tablet {
        width: 50%;
        position: absolute;
        right: -15px;
        top: 105px;
        z-index: 1;
      }
      img.desktop {
        width: 65%;
        position: absolute;
        top: 0;
        left: 60px;
      }
    }

    .carousel-inner {
      overflow: visible;
    }

  }

  // general content
  .content {
    padding: 30px;
  }

  // services
  .service_holder {
    background: @dark_gray;
    padding: 20px 30px;
    text-align: center;
    border: 1px solid lightgray;
    min-height: 300px;
    height: auto;
    color: @heavy_white;

    h2 {
      color: @maroon;
    }

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }

    .service_holder_overlay {
      background: @heavy_white;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      color: @light_blue;
      padding: 25px;
      display: none;
    }
  }

  // contact
  .contact {
    background: @dark_blue;
    color: white;
    padding: 25px;

    h2,
    h3 {
      margin-top: 0px;
    }

    label {
      margin: 15px 0px;
    }

    input,
    textarea {
      color: black;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      border: 0px;
    }

    input.action {
      margin-top: 20px;
    }

  }

}
