body {
  font-family: 'Ubuntu', sans-serif;
}

// footer
footer {
  background: #2C3E50;
  padding: 25px;
  color: white;
}

// tags
h1 {
  color: #E74C3C;
}


// colors
@dark_gray: #2C3E50;
@maroon: #E74C3C;
@light_blue: #3498DB;
@dark_blue: #2980B9;
