body {
  font-family: 'Ubuntu', sans-serif;
}

// nav
.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  padding: 20px;
  background: @dark_blue;
  border: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: 600;
}

// footer
footer {
  background: #2C3E50;
  padding: 25px;
  color: white;

  ul {
    list-style-type: none;
    padding: 0px;

    a {
      color: white;

      &:hover {
        color: @maroon;
        text-decoration: none;
      }
    }
  }

}

// tags
h1 {
  color: #E74C3C;
}
button {
  padding: 10px 50px;
  border: 2px solid #E74C3C;
  background: transparent;
  margin: 15px 0px;
  position: relative;

  .btn_bground {
    width: 100%;
    background: @maroon;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
}

// icons
span.glyphicon {
  font-size: 25px;
}

// colors
@heavy_white: #f1f1f1;
@dark_gray: #2C3E50;
@maroon: #E74C3C;
@light_blue: #3498DB;
@dark_blue: #2980B9;

.UserDefinedForm {

  // forms
  form {
    background: @maroon;
    padding: 20px;

    fieldset {
      width: 75%;
      margin: auto;
    }

    nav.Actions {
      width: 56.5%;
      margin: auto;
    }

    label {
      margin: 15px 0px;
    }

    input,
    textarea {
      color: black;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      border: 0px;
    }

    input.action {
      margin-top: 20px;
    }
  }

}