@import "themes/cloud-dive/less/main.less";

// holder
.ServicesHolder {

  &_infoholder {
    background: @heavy_white;
    padding: 35px;
    text-align: center;
    border: 1px solid lightgray;
    min-height: 250px;
    height: auto;
    color: #333;

    a {
      text-decoration: none;
    }
  }

}

// page
.ServicesPage {

  .banner_holder {
    position: relative;
    padding: 0px;
    height: 400px;
    overflow: hidden;

    .banner_content {
      position: absolute;
      z-index: 2;
      color: white;
      padding: 25px;
      margin-left: 35%;
      text-shadow: -2px -1px 7px black;
      width: 500px;
      text-align: center;

      h1 {
        color: white;
      }
    }

    .img_filter {
      background: #222;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      opacity: 0.65;
    }
  }

  img {
    width: 100%;
    position: absolute;
    bottom: -370px;
  }

  .content {
    padding: 50px 0px;
  }

}