@import "themes/cloud-dive/less/main.less";

.ServicesHolder {

  &_infoholder {
    background: @heavy_white;
    padding: 35px;
    text-align: center;
    border: 1px solid lightgray;
    min-height: 250px;
    height: auto;
    color: #333;

    a {
      text-decoration: none;
    }
  }

}